{% extends "base.html" %}

{% block titulo %}Crear ruta{% endblock titulo %}

{% block contenido %}
<div class="row justify-content-center mb-5">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow">
            <div class="card-header bg-dark text-white text-center">
                <h3 class="mb-0">
                    <i class="fa-solid fa-route"></i> Crear Ruta
                </h3>
            </div>
            <div class="card-body p-4">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

                {{ texto_de_prueba }}
                <hr>

                <ul>
                    <h1>Empresas</h1>
                    {% for empresa in empresas %}
                    <li>{{ empresa }}</li>
                    lmao
                    {% endfor %}
                </ul>
                <hr>

                <ul>
                    <h1>Pasajeros</h1>
                    {% for pasajero in pasajeros %}
                    <li>{{ pasajero.nombre }}</li>
                    {% endfor %}
                </ul>
                <hr>

                <ul>
                    <h1>Choferes</h1>
                    {% for chofer in choferes %}
                    <li>{{ chofer.nombre }}</li>
                    {% endfor %}
                </ul>
                <hr>
                
                <ul>
                    <h1>Vehiculos</h1>
                    {% for vehiculo in vehiculos %}
                     <li>{{ vehiculo.patente }}</li>
                    {% endfor %}
                </ul>
                <hr>

            </div>
        </div>
    </div>
</div>

{% endblock contenido %}