/* --- Estilos para tablas --- */
.table-responsive {
    border-radius: 0.5rem;
    overflow: hidden;
}

.card {
    border: none;
    border-radius: 1rem;
    margin-bottom: 3rem; /* Agrega espacio debajo de las cards */
}

.card-body {
    padding: 2rem;
    margin-bottom: 1rem;
}

.btn {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.table th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
}

.table td {
    vertical-align: middle;
    padding: 1rem 0.75rem;
}

.alert {
    border-radius: 1rem;
    border: none;
}

/* Iconos */
.fas {
    margin-right: 0.5rem;
}

/* --- Estilos para páginas de detalle --- */
dl.row dt {
    font-weight: 700;
    font-size: 0.95rem;
    color: #212529;
}

dl.row dd {
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.border-bottom {
    border-bottom: 2px solid #e9ecef !important;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

/* --- Estilos para proceso de ruta --- */
.pasajero-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.pasajero-label:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.empresa-filter {
    cursor: pointer;
}

.email-navbar {
    color: white;    
}

.dropdown-menu {
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
}

.dropdown-item {
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background-color: #ccdcff;
    color: #2c2f31;
}

.dropdown-item.active {
    background-color: #0d6efd;
    color: white;
}

.dropdown-item i {
    width: 20px;
    margin-right: 8px;
}

@media (min-width: 992px) {
    .navbar .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
    
    .navbar .dropdown-menu {
        margin-top: 0;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }
    
    .navbar .dropdown:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
    
    .navbar .dropdown-menu:hover {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 991px) {
    .navbar .dropdown-menu {
        position: static !important;
        transform: none !important;
    }
}