{% extends "base.html" %}

{% block titulo %}Iniciar Sesión{% endblock titulo %}

{% block contenido %}
<div class="row justify-content-center mb-5">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow">
            <div class="card-header bg-dark text-white text-center">
                <h3 class="mb-0">
                    <i class="fa-sharp fa-solid fa-key"></i> Iniciar Sesión
                </h3>
            </div>
            <div class="card-body p-4">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Tu nombre de usuario y/o contraseña no coinciden.
                    </div>
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="form-control" placeholder="name@example.com" required>
                        <label for="{{ form.username.id_for_label }}"class="form-label">{{ form.username.label }}</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control" placeholder="1234" required> 
                        <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
                    </div>
                
                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>

                <div class="text-center">
                    <p>¿Olvidaste tu contraseña? <a href="{% url 'password_reset' %}">Restablecer</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
