{% extends "base.html" %}
{% load static %}
{% block titulo %}Lista de Pasajeros{% endblock titulo %}

{% block contenido %}


<a href="{% url 'pasajero_crear' %}"><button type="button">Registrar Pasajero</button></a>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
    {% for pasajero in pasajeros %}
        <tr>
            <td>{{ pasajero.id_pasajero }}</td>
            <td>{{ pasajero.nombre }}</td>
            <td>{{ pasajero.apellido }}</td>
            <td>
                <a href="{% url 'pasajero_detalles' pasajero.id_pasajero %}"><button type="button">Detalle</button></a>
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="4">No hay pasajeros registrados.</td></tr>
    {% endfor %}
    </tbody>
</table>

<img src="{% static 'RouteAnvil\images\IMG_0023.jpg' %}" alt="My image">

{% endblock contenido %}

