{% extends "base.html" %}
{% load static %}
{% block titulo %}Lista de Pasajeros{% endblock titulo %}

{% block contenido %}

<ul>
    <li><a href="{% url 'pasajeros_lista'%}">Enlace a {% url 'pasajeros_lista'%}</a></li>
    <li><a href="{% url 'pasajero_crear'%}">Enlace a {% url 'pasajero_crear'%}</a></li>
</ul>

{% for pasajero in pasajeros %}
<hr>
<div>
    {{pasajero.Nombre}} {{pasajero.Apellido}}
    <li><a href="{% url 'pasajero_detalles' pasajero.id_pasajero %}">Enlace a {% url 'pasajero_detalles' pasajero.id_pasajero %}</a></li>
    <li><a href="{% url 'pasajero_modificar' pasajero.id_pasajero %}">Enlace a {% url 'pasajero_modificar' pasajero.id_pasajero %}</a></li>
    <li><a href="{% url 'pasajero_eliminar' pasajero.id_pasajero %}">Enlace a {% url 'pasajero_eliminar' pasajero.id_pasajero %}</a></li> 
</div>
<hr>
{% endfor %}

<img src="{% static 'RouteAnvil\images\IMG_0023.jpg' %}" alt="My image">

{% endblock contenido %}

